name: chromia_ui
description: "A modern, dynamic Flutter design system with theming support."
version: 0.1.0
homepage: https://github.com/raikerdev/chromia_ui
repository: https://github.com/raikerdev/chromia_ui
issue_tracker: https://github.com/raikerdev/chromia_ui/issues

environment:
  sdk: ">=3.10.0 <4.0.0"
  flutter: ">=3.38.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_syntax_view: ^4.1.7
  intl: ^0.20.2

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
